input{
  border: none;
  box-shadow: 0px opx 10px rgba(67,65,65,4);
  font-size: 1.2rem;
  outline: none;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
}
input:focus{
  text-decoration: none;
}
input :focus-within{
  border: 2px solid aqua;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  width: auto;
  padding: 10px 30 px;
  margin: 10px;
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 200px;
  box-shadow: 0px opx 10px rgba(67,65,65,4);
  cursor: pointer;
}
button:active{
  color: red;
  background-color: antiquewhite;

}
td,th{
  
  text-align: center;
}